@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff2') format('woff2');
}

/* NORMALIZE */
body {
	margin: 0;
}
input, textarea, select, button {
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}

.main-cont {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #18012f;
    margin-top: 108px;
}

.box-1 {
	display: inline-block;
	background: linear-gradient(to bottom, #35AFFF, #723FE8);
}

.box-2 {
	background: linear-gradient(to right, #565bff5e, #ffffff00);
}

.result-item {
	padding: 20px;
}