<!DOCTYPE html>
<html>
	<head>
		<title>Foursquare</title>
		<meta charset="UTF-8">
		<meta name="keywords" content="Vue.js,SPA,Single Page Application" />
		<meta name="description" content="Single Page Application built using Vue.js" />
		<meta name="author" content="Victor Rios">

		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/data_service.js"></script>
	</head>
	<body>
		<section class="main">
			<svg v-if="loading" class="loader" height="258" width="258">
				<defs>
					<circle id="circle" fill="#FFF" r="3"></circle>

					<g id="circles">
						<use href="#circle" x="0" y="20"></use>
						<use href="#circle" x="16" y="13"></use>
						<use href="#circle" x="32" y="9"></use>
						<use href="#circle" x="48" y="7"></use>
						<use href="#circle" x="64" y="7"></use>
						<use href="#circle" x="80" y="9"></use>
						<use href="#circle" x="96" y="13"></use>
						<use href="#circle" x="112" y="20"></use>
						<use href="#circle" x="128" y="30"></use>
					</g>
				</defs>
				<use href="#circles" x="73" y="3"></use>
				<use href="#circles" transform="rotate(270 94 91)"></use>
				<use href="#circles" transform="rotate(180 93 128)"></use>
				<use href="#circles" transform="rotate(90 92 164)"></use>

				<!--<circle r="120" cx="129" cy="129" opacity="0.3"></circle>
				<line stroke="#00F" x1="129" y1="0" x2="129" y2="258" ></line>
				<line stroke="#00F" x1="0" y1="129" x2="258" y2="129" ></line>-->
			</svg>
			<div v-else class="outer-box">
				<div class="inner-box">
					<ul class="results">
						<li v-for="item in items">
							<div class="result__item">
								<span class="result__item__name">{{ item.name }}</span>
								<span class="result__item__rating" v-bind:style="{ 'background-color': '#' + item.ratingColor }">{{item.rating}}</span></div>
						</li>
					</ul>
					<button type="button" v-on:click="displayItems+=10">MORE</button>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>